{{!-- displaying HTML for comment section/card --}}
{{!-- add to partial --}}
<div class="comments">
    {{#each this}}
    <section class="usercomment">
        <div class= "user">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>
