{{!-- show existing post --}}
{{!-- using partial to display multi posts --}}
<ul class="display-post">
    {{#each posts as |post|}}
    <li>
        {{> multipost postCard }}
    </li>
    {{/each}}
</ul>