{{!-- sign in page --}}
<section class="signin-page">
    <div class="form-heading">
        <h1>Let Create an Account!</h1>
    </div>
    <div class="form-section">
        <form class="signup">
            <div>
                <label for="username"> Username? </label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password">Password?</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="createbtn">Create Sign in!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link"> User is already made, log in instead</a>
</section>

<script src="/js/signin.js"></script>