{{!-- User comment section --}}
{{> multipost PostCard}}
{{#if loggedIn}}
<form class ="comment">
   <div class = "commenttext">
    <textarea name ="comment-user"></textarea>
   </div>
{{!-- submit button  --}}
    <div>
     <button type="submit">Submit?</button>
    </div>
</form>
{{/if}}
{{> usercomment comments}}

{{!-- need to call to JS --}}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}

